.App {
  text-align: center;
  min-height: 100vh;
  background-image: url("../public/assets/images/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* or contain depending on your preference */
  background-position: center;
  
}
.app-icon {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* For Safari */
  -moz-backface-visibility: hidden; /* For Firefox */
  transform-style: preserve-3d;
}
@-moz-document url-prefix() {
  .app-icon {
    transition: none !important;
  }
}
.App::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(21, 58, 18, 0.5); /* Adjust the 0.5 value to make it darker or lighter */
}